:host {
    // position: absolute;
    width: 300px;
    // height: 100%;
    // top: 0;
    // right: 0;
    // bottom: 0;
    background-color: rgba($color: #1d2124, $alpha: 0.92);
    flex: 1;

    @media (max-width: 420px) {
        width: 260px;
    }

    .frame {
        height: 100%;
        overflow: scroll;
        // bottom: 100px;
    }

    .dice {
        display: flex;
        flex-flow: wrap;
    }
}
